{
  "extends": ["next/core-web-vitals", "next/babel"],
  "plugins": ["react-hooks"],
  "rules": {
    "react/no-unescaped-entities": "off",
    "@next/next/no-img-element": "off",
    "import/no-anonymous-default-export": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-restricted-imports": [
      "error",
      {
        "patterns": ["**/modules/*/*", "**/components/*/*"]
      }
    ]
  }
}
